<form action="" method="post">{% csrf_token %}
<div class="modal" id="cost_of_service" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Конструктор стоимости</h3>
            </div>
                <h4 class="modal-title"></h4>



                    {%  for service in category_service %}
                        <div class="panel-group" id="accordion2">
                            <div class="panel-heading" id="costserv_acc">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#{{ service.service_href }}1">
                                        {{ service.service_title }} <i class="icon-minus"></i><i class="icon-plus"></i></a>
                                </h3>
                                <div id="{{ service.service_href }}1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p style="text-align: justify;"></p>
                                    <ul class="icons-ul">
                                        {%  for item_name in items %}

                                        <li><input class="col" type="checkbox"> {{ item_name.service_item_text }}</li>

                                      {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </div>

                    {% endfor %}

            <div class="modal-footer">
                <input class="btn btn-primary" type="submit" value="Save" />
                <input name="cancel" class="btn" type="submit" value="Cancel"/>
        </div>
        </div>



    </div>

    </div>
</form>