<form action="" method="post" id="cost_services">{% csrf_token %}
<div class="modal" id="cost_of_service" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Конструктор стоимости</h3>
            </div>
                <h4 class="modal-title"></h4>



                    {%  for service in category_service %}
                        <div class="panel-group" id="accordion2">
                            <div class="panel-heading" id="costserv_acc">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#{{ service.service_href }}1">
                                        {{ service.service_title }} <i class="icon-minus"></i><i class="icon-plus"></i></a>
                                </h3>
                                <div id="{{ service.service_href }}1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p style="text-align: justify;"></p>
                                    <ul class="icons-ul">
                                        {%  for item_name in items %}
                                            {% if item_name.service_main.pk == service.pk %}
                                                <li><input id="check_service_cost" name="{{ item_name.pk }}" value="{{ item_name.pk }}+value" class="col" type="checkbox" checked=""> {{ item_name.service_item_text }}</li>
                                            {% endif %}
                                      {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </div>

                    {% endfor %}

            <div class="modal-footer">
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" placeholder="адрес электронной почты">
                </div>
                <input class="btn btn-block btn-success" type="submit" value="Запросить стоимость" id="btn-cost-of-service"/>
                <div id="success1">
                        Ваше сообщение отправлено</div>
                <div id="error1">
                        Ваше сообщение не отправлено</div>
        </div>
        </div>



    </div>

    </div>
</form>